* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

/* body {
  margin: 0 0 100px; 
} */

.App-header {
  display: flex;
  justify-content: space-between; 
  background-color: rgb(114, 138, 154);
  color: white;
  font-size: 150%;
  height: 85px;
  width: 100%;
  padding: .4em;
}

/* .featured-name {
  position: absolute;
  top: 450px;
  left: 300px;
  padding: .5em;
  text-align: center;
  height: 50px;
  width: 125px;
  background-color: rgb(25, 51, 56);
  color: white;
} */
.container {
  display: flex;
  justify-content: flex-start;
  /* column-gap: 25%; */
}

.featured-image {
  /* position: absolute;
  left: 0; */
  height: 500px;
  width: 430px;
  margin: 0px 0px -5px 0px;
}

.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
  
  width: 270px;
  position: absolute;
  top: 470px;
  left: 170px;
  background-color: rgb(25, 51, 56);
  color: #fff;
  text-align: center;
  padding: 1em 1.5em;
  margin: 2em auto 3em; 
}

.ribbon:after {
  content: "";
  position: absolute;
  /* display: block; */
  bottom: -1em;
  border: 1.5em solid rgb(18, 37, 41);;
  z-index: -1;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: rgb(0, 5, 6) transparent transparent transparent;
  bottom: -1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.footer {
  display: flex;
  justify-content: center;  
  background-color: rgb(114, 138, 154);
  color: white;
  /* font-family: 'Work Sans', sans-serif; */
  height: 75px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  font-size:1.5em;
  /* text-align: center; */
  line-height:100px;
}

.showcase {
  width: 100%;
  /* align-content: center; */
  display: flex;
  justify-content: center;
}

.search {
  height: 40px;
  width: 250px;
  margin-top: 3em;
  /* border-radius: 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; */
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF
}

.search:focus {
  width: 260px;
}

.search-button {
  height:40px;
  width: 40px;
  margin-top: 3em;
  border: 1px solid #00B4CC;
  border-radius: 0 5px 5px 0;
  background-color: #00B4CC;
  cursor: pointer;
  padding-top:3px;
  padding-left:3px;
  background-image: url("../public/pictures/search_icon.png");
  background-repeat: no-repeat;
}

.navigation-bar {
  margin: auto 1.5em;
}
